* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  list-style: none;
}

body{
  background: #2c3e50;
}

.wrapper {
  width: 100%;
  height: 150vh;
}
